/* Dark Mode */
.dark .choices__inner {
    @apply bg-gray-900/30 !important;
    border-color: #4b5563;
    color: #f9fafb;
}

.choices__inner {
    background-color: white !important;
    border-radius: 7px !important;
    height: 8px !important;
    
}

.dark .choices__inner:focus-within {
    box-shadow: 0 0 0 3px rgba(96, 165, 250, 0.1);
}


.choices__input {
    background-color: transparent !important;
    outline: transparent !important;
    border-color: white !important;

}
.dark input.choices__input.choices__input--cloned {
    @apply bg-gray-800 !important;
    color: white !important;
}



.dark .choices__placeholder {
    color: white !important;
}


.dark .is-highlighted {
    background-color: rgb(17 24 39) !important;
}


.dark .choices__item--choice {
    background-color: rgb(31 41 55);
    color: #ffffff;
}

.dark .choices__list--dropdown .choices__item--selectable {
    border-bottom-color: #4b5563;
    color: #f9fafb;
}

.dark .choices__list--dropdown .choices__item--selectable:hover {
    background-color: black;
}

.dark .choices__list--dropdown .choices__item--selectable.is-highlighted {
    background-color: black;
    color: #ffffff;
}
