@import 'tailwindcss/base';
@import 'tailwindcss/components';

/* Additional styles */
@import 'additional-styles/utility-patterns.css';
@import 'additional-styles/flatpickr.css';

@import 'tailwindcss/utilities';

/* Tailwind-like styling for Select2 */
.select2-container--default .select2-selection--single {
    border-radius: 0.375rem; /* rounded-md */
    width: 100%;
    outline: none;
    background-color: #fff;
}

.dark .select2-container--default .select2-selection--single {
    background-color: rgba(17, 24, 39, 0.2); /* dark:bg-gray-900/20 */
    border-color: #374151; /* dark:border-gray-700 */
    color: #e5e7eb !important; /* dark:text-gray-200 */
}

.select2-selection__rendered {
    line-height: 35px !important;
}


.dark .select2-selection__rendered {
    color: #e5e7eb !important; /* dark:text-gray-200 */
}

.select2-container .select2-selection--single {
    height: 35px !important;
}

.select2-selection__arrow {
    height: 34px !important;
}

.select2-container--default .select2-selection--single:focus,
.select2-container--default.select2-container--focus .select2-selection--single {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 2px #60a5fa; /* focus:ring-2 focus:ring-primary */
}

.select2-dropdown {
    border-radius: 0.375rem;
    border: 1px solid #e5e7eb;
    background-color: #fff;
}

.dark .select2-dropdown {
    background-color: #111827;
    border-color: #374151;
    color: #e5e7eb !important;
}

.dark .select2-search__field {
    background-color: #111827;
    border-color: #374151;
    color: #e5e7eb !important;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #3b82f6; /* bg-primary */
    color: white ;
}

.dark .select2-container--default .select2-results__option[aria-selected=true] {
    background-color: #1f2937;
}



